*{
    font-family: monospace;
}



body{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: 13px;
    background: pink;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.popup-container{
    width: 350px;
    /* min-height: 250px; */
    
}

.header{
    background: #282424;
    color: #fff;
    padding: 15px;
    font-size: 23px;
}

.main{
    background: transparent;
    width: 350px;
    min-height: 207px;
    height: 75px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    align-content: center;
}

.main button{
    border: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    font-family: monospace;
    height: 35px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btn-list{
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    
    align-items: center;
}

#youtube{
    background: url(ytbtn.png);
    background-size: 200% 200%;
    background-position-x: 8px;
    background-position-y: 10px;
    color: white;
}
#twitter{
    background: url(twitterbtn.png);
    background-size: 200% 200%;
    background-position-x: 10px;
    background-position-y: 10px;
    color: white;
}
#instagram{
    background: linear-gradient(-45deg, #6e18df, #e40d5f, #ffc655);
    color: white;
    background-size: 250% 100%;
    background-position: 100% 50%;
    transition: 0.5s all;
}
#discord, #discord-pfp{
    background: url(discordbtn.png);
    background-size: 200% 200%;
    background-position-x: 10px;
    background-position-y: 10px;
    color: white;
}

.btn-list button{
    transition: 0.3s;
}

#instagram:hover{
    background-position: 0% 50%;
    transition: 2.5s background;
    opacity: 1;
}
#youtube:hover{
    background-position-y: -15px;
    color: transparent;
}
#twitter:hover{
    background-position-y: -15px;
    color: transparent;
}
#discord:hover{
    background-position-y: -15px;
    color: transparent;
}

#discord-pfp{
    background: url(discordpfpbtn.png);
    background-size: 200% 200%;
    background-position-x: 5px;
    background-position-y: -15px;
    color: white;
}
#discord-pfp:hover{
    background-position-x: -124px;
    background-position-y: -15px;
    color: transparent;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


#search{
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

#search input{
    border-radius: 50px;
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    padding-left: 15px;
    border: 0px;
    background-color: #FF8F9E;
    color: #fff;
    
}

#search input:focus{
    border: 1px solid white;
}

footer{
    background-color: rgba(255,143,158, 40%);
    position: absolute;
    bottom: 10px;
    width: 50%;
    border-top: 3px solid #FF8F9E;
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-bottom: -3%;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 3px solid #FF8F9E;
    
}

footer p{
    font-size: 20px;
    color: white;
}

footer .footer-url{
    margin-right: 20px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 5px;
    transition: all .5s;
    margin-bottom: 20px;
}

footer .footer-url:last-child{
    margin-right: 0;
}

footer .footer-url:active{
    color: white;
}

#backgroundpopup{
    background-color: pink;
    border: none;
    cursor: pointer;
}

footer .footer-url:hover{
    border: 2px solid pink;
    color: white;
}

#backgroundpopup:hover{
    border: 2px solid pink;
}
.autofiller{
    margin: auto;
}

#mainlogo{
    margin-top: 10em;
}

#greybg{
    position: fixed;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0%;
}

#bgpopup{
    position: fixed;
    background-color: #FF8F9E;
    width: 30%;
    height: 20%;
    top: 20%;
    left: 33%;
    border-radius: 15px;
    padding: 25px;
    padding-right: 40px;
    
}

#bgurl{
    width: 100%;
    border-radius: 50px;
    border: none;
    font-size: 3vh;
    padding-left: 15px;
    border: 0px;
    background-color: pink;
    color: #fff;
    
}

#bgurltype{
    position: relative;
    margin-top: auto;
    
    
}

#bgurltype label{
    font-size: 2.5vh;
    margin-bottom: 10px;
    margin: 0;
}

#bg-whole{
    visibility: hidden;
}

.credits{
    color: black;
    transition: 0.5s;
}

.credits:hover{
    color: white;
}

.clock{
    background-color: rgba(255,143,158, 40%);
    position: absolute;
    padding: 12px;
    border-radius: 14px;
    top: 1%;
    left: 1%;
}

.clock-time, .clock-ampm{
    font-size: 8vh;
}

.clock-ampm{
    font-size: 4vh;
}

.clock-second{
    font-size: 4vh;
}
