*{
    font-family: Arial Black;
    user-select: none;
    scroll-behavior: smooth;
    text-overflow: ellipsis;
}

*::-webkit-scrollbar {
    display: none;
  }

body{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: 13px;
    background: #000000;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.popup-container{
    width: 350px;
    /* min-height: 250px; */
    
}

.header{
    background: #282424;
    color: #fff;
    padding: 15px;
    font-size: 23px;
}

.main{
    background: transparent;
    width: 350px;
    min-height: 207px;
    height: 75px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    align-content: center;
}

.main button{
    border: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    font-family: monospace;
    height: 35px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btn-list{
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    
    align-items: center;
}

#youtube{
    background: url(ytbtn.png);
    background-size: 200% 200%;
    background-position-x: 8px;
    background-position-y: 10px;
    color: white;
}
#twitter{
    background: url(twitterbtn.png);
    background-size: 200% 200%;
    background-position-x: 10px;
    background-position-y: 10px;
    color: white;
}
#instagram{
    background: linear-gradient(-45deg, #6e18df, #e40d5f, #ffc655);
    color: white;
    background-size: 250% 100%;
    background-position: 100% 50%;
    transition: 0.5s all;
}
#discord, #discord-pfp{
    background: url(discordbtn.png);
    background-size: 200% 200%;
    background-position-x: 10px;
    background-position-y: 10px;
    color: white;
}

.btn-list button{
    transition: 0.3s;
}

#instagram:hover{
    background-position: 0% 50%;
    transition: 2.5s background;
    opacity: 1;
}
#youtube:hover{
    background-position-y: -15px;
    color: transparent;
}
#twitter:hover{
    background-position-y: -15px;
    color: transparent;
}
#discord:hover{
    background-position-y: -15px;
    color: transparent;
}

#discord-pfp{
    background: url(discordpfpbtn.png);
    background-size: 200% 200%;
    background-position-x: 5px;
    background-position-y: -15px;
    color: white;
}
#discord-pfp:hover{
    background-position-x: -124px;
    background-position-y: -15px;
    color: transparent;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


#search{
    width: 40%;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    

}

.navbar{
    font-size: 1.5vh;
}
#articleSearch{
    border-radius: 5px;
    outline: none;
    border: none;
}
.nav-item{
    cursor:pointer;
}
.go-btn:hover{
    background-color: rgba(0, 0, 0, 0.164);
}

#search input{
    border-radius: 50px;
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    padding-left: 20px;
    border: 0px;
    background-color: #ffffff;
    color: #000000;
    min-height: 25px;
    min-width: 200px;
    backdrop-filter: blur(10px);
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: auto;
    resize:horizontal;
}

#search input::placeholder, #articleSearch::placeholder{
    color: #00000098;
    
}
input::placeholder{
    font-family: Arial;
}


footer{
    background-color: rgba(53, 53, 53, 0.1);
    position: absolute;
    bottom: 10px;
    width: 50%;

    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-bottom: -3%;
    margin-top: 10%;
    top: 100;
    bottom: 0;
    overflow: hidden;
    padding-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-height: 40%;
    min-height: 0;
    transform: translateY(90px);
    backdrop-filter: blur(50px);
    
}

footer p{
    font-size: 20px;
    color: white;
}

footer .footer-url{
    margin-right: 20px;
    color: white;
    border-radius: 8px;
    padding: 5px;
    transition: all .5s;
    margin-bottom: 20px;
    width: fit-content;
    border: 1px solid white;
}



footer .footer-url:last-child{
    margin-right: 0;
}

footer .footer-url:active{
    color: white;
}

#backgroundpopup{
    background-color: rgba(205, 205, 205, 0.2);
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}

footer .footer-url:hover{
    border: 2px solid white;
    color: white;
}

#backgroundpopup:hover{
    border: 2px solid white;
}



.autofiller{
    margin: auto;
}

#mainlogo{
    width: 40%;
    margin: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    max-height: 50vh;
    max-width: 50vh;
}

#greybg, #greybg2, #greybg3, #greybg4, #greybg5, #greybg6, #greybg7, #clockGreyBg{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.04);
    width: 100%;
    height: 100%;
    top: 0%;
    backdrop-filter: blur(20px);
}

#clockGreyBg{
    position: fixed;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0%;
    visibility: hidden;
}

.hidden{
    visibility: hidden;
    
}

#bgpopup{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(20px);
    width: 30%;
    height: auto;
    top: 20%;
    left: 33%;
    border-radius: 15px;
    padding: 25px;
    padding-right: 40px;
    color: white;
}

#bgpopup p{
    bottom: 100%;
}

#bgpopup-shortcuts{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(20px);
    width: 30%;
    
    left: 33%;
    border-radius: 15px;
    padding: 55px;
    padding-right: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxtext{
    width: 100%;
    border-radius: 50px;
    border: none;
    font-size: 3vh;
    padding-left: 15px;
    border: 0px;
    background-color: pink;
    color: #fff;
    margin: 0;
}

.boxfile{
    background-color: transparent;
    
}


#bgurltype label{
    font-size: 2.5vh;
    /* margin-bottom: 10px; */
    
}
#bgurltype .boxtext{
    background-color: rgba(255,255,255, 7%);
}


#bg-whole{
    visibility: hidden;
}

#shortcut1-whole, #shortcut2-whole, #shortcut3-whole, #shortcut4-whole, #color-whole{
    visibility: hidden;
}

.credits{
    color: white;
    transition: 0.5s;
    user-select: none;
}

.credits:hover{
    color: white;
}


.clock{
    background-color: rgba(255,255,255, 0%);
    position: absolute;
    padding: 20px;
    border-radius: 14px;
    top: 1px;
    right: 83px;
    max-width: fit-content;
    position: fixed;
    user-select: none;
    color: white;
    transition: width 1s, height 1s;
    backdrop-filter: blur(15px);
    margin: 0;
    min-width: fit-content;
    
}



.clock-time, .clock-ampm{
    font-size: 8vh;
}

.clock-ampm{
    font-size: 4vh;
}

.clock-second{
    font-size: 4vh;
}






.clock-large{
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    background-color: rgba(255,255,255, 0%);
    position: fixed;
    padding: 12px;
    border-radius: 14px;
    user-select: none;
    color: white;
    text-align: center;
    margin: 0;
    backdrop-filter: blur(100px);
    align-items: center;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    top: 0;
    left: 0;

}

.clock-swipe{
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    background-color: rgba(255,255,255, 0%);
    position: fixed;
    padding: 12px;
    border-radius: 14px;
    user-select: none;
    color: white;
    text-align: center;
    margin: 0;
    backdrop-filter: blur(100px);
    align-items: center;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    top: 0;
    left: 100%;
}

.clock-large .clock-time{
    font-size: 16vh;
}
.clock-large .clock-ampm{
    font-size: 10vh;
    margin-bottom: -4vh;
}
.clock-large .clock-second{
    margin-bottom: -4vh;
    font-size: 10vh;
}




#stopwatch{
    background-color: rgba(255,255,255, 0%);
    position: absolute;
    padding: 12px;
    border-radius: 14px;
    bottom: 30px;
    right: 75px;
    position: fixed;
    user-select: none;
    color: white;
    transition: width 1s, height 1s;
    backdrop-filter: blur(15px);
    visibility: hidden;
}



#watchhour{
    font-size: 4vh;
}

#watchminute{
    font-size: 8vh;
}

#watchsecond{
    font-size: 8vh;
}

#watchMs{
    font-size: 4vh;
}

#pauseWatch{
    border-radius: 4px;
    background-color: rgba(178, 178, 178, 0.2);
    margin: 0;
    padding: 3px;
    height: 3vh;
    font-size: 2vh;
    display: grid;
    align-items: center;
    justify-content: center;
}


#draggable{
    cursor: move;
}

.fixed{
    position: absolute;
}

#clockPosToggle{
    margin-right: 5px;
    background-color: #FF8F9E;
}

footer label{
    font-size: 1.5vh;
    transition: .5s;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px;
}

#tab-whole{
    visibility: hidden;
}

#launchTabCustomize, #clearShortcuts, #launchColorCustomize, #colorsubmit, #resetColors, #timetotitle{
    background-color: rgba(161, 161, 161, 0.2);
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}

#launchTabCustomize:hover, #clearShortcuts:hover, #launchColorCustomize:hover, #resetColors:hover, #timetotitle:hover{
    border: 2px solid white;
}

footer label:hover{
    color: white;
    border: 2px solid white;
}

#shortcuts{
    display: grid;
    top: 5%;
    left: 1%;
    margin-left: 50px;
    margin-top: 50px;
    gap: 50px;
    position: fixed;
}

#shortcut1, #shortcut2, #shortcut3, #shortcut4{
    /* background-color: rgba(255,143,158, 40%); */
    background-color: transparent;
}

.shortcut{
    height: 8vh;
    width: 8vh;
    text-align: center;
    font-size: 5vh;
    border-radius: 50%;
    border: none;
    justify-content: center;
    display: flex;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(50px);
    transition: .5s;
}

.shortcut img{
    width: 70px;
    max-height: 90%;
    border-radius: 8px;
}

#shortcuts a{
    height: 8vh;
    width: 8vh;
    text-align: center;
    font-size: 5vh;
    border-radius: 50%;
    border: none;
    justify-content: center;
    display: flex;
    display: flex;
    align-items: center;
    cursor: pointer;
}



#colorsubmit{
    border-radius: 8px;
    font-size: 3vh;
    padding: 10px;
}

#timetotitle{
    border-radius: 8px;
    font-size: 1em;
    padding: 10px;
}

#colorInput{
    margin-top: inherit;
    width: 60px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-radius: 0px;
}

.shortcut:hover{
    backdrop-filter: blur(0px);
}

#bgpopup-shortcuts{
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(20px);
    
}

#bgurltype label{
    color: white;
}

#toolsUrl{
    background-color: rgba(171, 171, 171, 0.2);
    margin-right: 20px;
    color: white;
    border-radius: 8px;
    padding: 5px;
    transition: all .5s;
    top: 200%;
    width: fit-content;
    border: 2px solid rgba(194, 194, 194, 0.2);
}

#toolsUrl:hover{
    border: 2px solid white;
    color: white;
}


.context-menu{
    position: fixed;
    z-index: 10000;
    width: 150px;
    transform: scale(0);
    transform-origin: top left;
    backdrop-filter: blur(10px);
    background-color: rgba(142, 142, 142, 0.089);
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.context-menu.active{
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}
.context-menu .item{
    padding: 8px 10px;
    font-size: 15px;
    border-radius: 3px;
}

.context-menu .item:hover{
    background-color: rgba(180, 180, 180, 0.2);
}
.context-menu .item i{
    display: inline-block;
    margin-right: 5px;
}

.context-menu hr{
    margin: 1px 0px;

    
    border: 2px rgb(211, 211, 211);
    color: rgb(211, 211, 211);
}


.shown{
    visibility: visible;
}

input:focus{
    outline: none;
}

#rippletransition{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: 300ms transform ease-in-out;
    position: fixed;
    z-index: 10000000000000;
    top: 88%;
    left: 2%;
}

.closed{
    transform: scale(0);

    border-radius: 50%;
    position: absolute;
    
    transition: 300ms all ease-in-out;

}

.open{
    transform: scale(100);
    border-radius: 50px;
    transition: 300ms all ease-in-out;
}

#newscornertoggle{
    position: fixed;
    top: 90%;
    left: 3%;
    width: 75px;
    height: 75px;
    z-index: 1000000;
    border: none;
    border-radius: 50px;
    background: rgba(159, 159, 159, 0.464);
    backdrop-filter: blur(10px);
    color: white;
    transition: 300ms all ease-in-out;
}

#newscornertoggle:hover{
    color: black;
    background: white;
}

.fade{
    opacity: 0;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:1;}
    100% {opacity:0;}
  }

#newscorner{
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    /* background-position: center; */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100000;
    visibility: hidden;
    gap: 10px;
    padding-top: 20px;
    overflow-y: auto;
}

.newsCard{
    outline: none;
    padding-bottom: 15px;
    background: transparent;
    gap: -10px;
    border-radius: 8px;
    padding-left: 18%;
    max-height: 500px;
    /* backdrop-filter: blur(5px); */
}

.card{
    height: 200px;
}
.card:hover{
    z-index: 1000000000000;
}

.transparent-bg{
    text-overflow: ellipsis;
    transition: all 300ms;
    background: transparent;
    backdrop-filter: blur(10px);

}
.transparent-bg:hover{
    background: rgba(145, 145, 145, 0.49);
    backdrop-filter: blur(50px);
    outline: 3px solid white;
}

#newsType{
    color: white;
    font-size: 50px;
    margin: 50px;
}

.text-indigo{
    color: #9c6fe6;
    font-size: 15px;
    font-weight: bold;
}

.border5{
    border-radius: 5px;
}

.blur{
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: -1;
}

