*{
    font-family: monospace;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
  }

body{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    font-size: 13px;
    background: pink;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.popup-container{
    width: 350px;
    /* min-height: 250px; */
    
}

.header{
    background: #282424;
    color: #fff;
    padding: 15px;
    font-size: 23px;
}

.main{
    background: transparent;
    width: 350px;
    min-height: 207px;
    height: 75px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    align-content: center;
}

.main button{
    border: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    font-family: monospace;
    height: 35px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.btn-list{
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    
    align-items: center;
}

#youtube{
    background: url(ytbtn.png);
    background-size: 200% 200%;
    background-position-x: 8px;
    background-position-y: 10px;
    color: white;
}
#twitter{
    background: url(twitterbtn.png);
    background-size: 200% 200%;
    background-position-x: 10px;
    background-position-y: 10px;
    color: white;
}
#instagram{
    background: linear-gradient(-45deg, #6e18df, #e40d5f, #ffc655);
    color: white;
    background-size: 250% 100%;
    background-position: 100% 50%;
    transition: 0.5s all;
}
#discord, #discord-pfp{
    background: url(discordbtn.png);
    background-size: 200% 200%;
    background-position-x: 10px;
    background-position-y: 10px;
    color: white;
}

.btn-list button{
    transition: 0.3s;
}

#instagram:hover{
    background-position: 0% 50%;
    transition: 2.5s background;
    opacity: 1;
}
#youtube:hover{
    background-position-y: -15px;
    color: transparent;
}
#twitter:hover{
    background-position-y: -15px;
    color: transparent;
}
#discord:hover{
    background-position-y: -15px;
    color: transparent;
}

#discord-pfp{
    background: url(discordpfpbtn.png);
    background-size: 200% 200%;
    background-position-x: 5px;
    background-position-y: -15px;
    color: white;
}
#discord-pfp:hover{
    background-position-x: -124px;
    background-position-y: -15px;
    color: transparent;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


#search{
    width: 40%;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 50px;
}

#search input{
    border-radius: 50px;
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    padding-left: 15px;
    border: 0px;
    background-color: #FF8F9E;
    color: #fff;
    min-height: 25px;
    min-width: 200px;
    backdrop-filter: blur(10px);
    font-weight: bold;
}

#search input:focus{
    border: 1px solid white;
}

footer{
    background-color: rgba(255,255,255, 0%);
    position: absolute;
    bottom: 10px;
    width: 50%;

    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-bottom: -3%;
    margin-top: 10%;
    top: 100;
    bottom: 0;
    overflow: hidden;
    padding-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-height: 40%;
    min-height: 0;
    transform: translateY(90px);
    backdrop-filter: blur(50px);
    
}

footer p{
    font-size: 20px;
    color: white;
}

footer .footer-url{
    margin-right: 20px;
    color: white;
    border-radius: 8px;
    padding: 5px;
    transition: all .5s;
    margin-bottom: 20px;
    width: fit-content;
    border: 1px solid white;
}



footer .footer-url:last-child{
    margin-right: 0;
}

footer .footer-url:active{
    color: white;
}

#backgroundpopup{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}

footer .footer-url:hover{
    border: 2px solid white;
    color: white;
}

#backgroundpopup:hover{
    border: 2px solid white;
}



.autofiller{
    margin: auto;
}

#mainlogo{
    width: 40%;
    margin: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    max-height: 50vh;
    max-width: 50vh;
}

#greybg, #greybg2, #greybg3, #greybg4, #greybg5, #greybg6, #greybg7, #clockGreyBg{
    position: fixed;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0%;
}

#clockGreyBg{
    position: fixed;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0%;
    visibility: hidden;
}

.hidden{
    visibility: hidden;
}

#bgpopup{
    position: fixed;
    background-color: rgba(255,255,255, 4%);
    backdrop-filter: blur(20px);
    width: 30%;
    height: 200px;
    top: 20%;
    left: 33%;
    border-radius: 15px;
    padding: 25px;
    padding-right: 40px;
    color: white;
}

#bgpopup-shortcuts{
    position: fixed;
    background-color: #FF8F9E;
    width: 30%;
    height: 250px;
    top: 20%;
    left: 33%;
    border-radius: 15px;
    padding: 25px;
    padding-right: 40px;
    
}

.boxtext{
    width: 100%;
    border-radius: 50px;
    border: none;
    font-size: 3vh;
    padding-left: 15px;
    border: 0px;
    background-color: pink;
    color: #fff;
    
}

#bgurltype{
    position: relative;
    margin-top: auto;
    
    
}

#bgurltype label{
    font-size: 2.5vh;
    margin-bottom: 10px;
    margin: 0;

}
#bgurltype input{
    background-color: rgba(255,255,255, 7%);
}


#bg-whole{
    visibility: hidden;
}

#shortcut1-whole, #shortcut2-whole, #shortcut3-whole, #shortcut4-whole, #color-whole{
    visibility: hidden;
}

.credits{
    color: black;
    transition: 0.5s;
    user-select: none;
}

.credits:hover{
    color: white;
}


.clock{
    background-color: rgba(255,255,255, 0%);
    position: absolute;
    padding: 12px;
    border-radius: 14px;
    top: 1%;
    left: 87%;
    position: fixed;
    user-select: none;
    color: white;
    
    backdrop-filter: blur(15px);

    
}



.clock-time, .clock-ampm{
    font-size: 8vh;
}

.clock-ampm{
    font-size: 4vh;
}

.clock-second{
    font-size: 4vh;
}

.clock-large{
    width: 100%;
    height: 100%;
    transition: all 1s;
    background-color: rgba(255,255,255, 0%);
    position: fixed;
    padding: 12px;
    border-radius: 14px;
    user-select: none;
    color: white;
    text-align: center;
    margin: 0;
    backdrop-filter: blur(100px);
    align-items: center;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    top: 0;
    left: 0;

}

.clock-large .clock-time{
    font-size: 16vh;
}
.clock-large .clock-ampm{
    font-size: 10vh;
    margin-bottom: -4vh;
}
.clock-large .clock-second{
    margin-bottom: -4vh;
    font-size: 10vh;
}


#draggable{
    cursor: move;
}

.fixed{
    position: absolute;
}

#clockPosToggle{
    margin-right: 5px;
    background-color: #FF8F9E;
}

footer label{
    font-size: 1.5vh;
    transition: .5s;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px;
}

#tab-whole{
    visibility: hidden;
}

#launchTabCustomize, #clearShortcuts, #launchColorCustomize, #colorsubmit, #resetColors{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}

#launchTabCustomize:hover, #clearShortcuts:hover, #launchColorCustomize:hover, #resetColors:hover{
    border: 2px solid white;
}

footer label:hover{
    color: white;
    border: 2px solid white;
}

#shortcuts{
    display: grid;
    top: 5%;
    left: 1%;
    margin-left: 50px;
    margin-top: 50px;
    gap: 50px;
    position: fixed;
}

#shortcut1, #shortcut2, #shortcut3, #shortcut4{
    /* background-color: rgba(255,143,158, 40%); */
    background-color: transparent;
}

.shortcut{
    height: 8vh;
    width: 8vh;
    text-align: center;
    font-size: 5vh;
    border-radius: 50%;
    border: none;
    justify-content: center;
    display: flex;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(50px);
    transition: .5s;
}

.shortcut img{
    width: 70px;
    max-height: 90%;
}

#shortcuts a{
    height: 8vh;
    width: 8vh;
    text-align: center;
    font-size: 5vh;
    border-radius: 50%;
    border: none;
    justify-content: center;
    display: flex;
    display: flex;
    align-items: center;
    cursor: pointer;
}



#colorsubmit{
    border-radius: 8px;
    font-size: 3vh;
    padding: 10px;
}

#colorInput{
    margin-top: inherit;
    width: 60px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-radius: 0px;
}

.shortcut:hover{
    backdrop-filter: blur(0px);
}

#bgpopup-shortcuts{
    background-color: rgba(255,255,255, 4%);
    backdrop-filter: blur(20px);
    
}

#bgurltype label{
    color: white;
}

#toolsUrl{
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 20px;
    color: white;
    border-radius: 8px;
    padding: 5px;
    transition: all .5s;
    top: 200%;
    width: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

#toolsUrl:hover{
    border: 2px solid white;
    color: white;
}

